<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="add-student">
        <input type="text" name="name" placeholder="enter your name"/></br></br>
        <input type="number" name="age" placeholder="enter your age"/></br></br>
        <input type="text" name="email" placeholder="enter your email"/></br></br>
        <button>Add new student</button>
        
      </form>
</body>
</html>