<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add users</title>
  </head>
  <body>
    <form action="submit-user" method="post">
      <input type="text" placeholder="enter user nme" name="name" />
      <br />
      <br />
      <input type="text" placeholder="enter user email" name="email" />
      <br />
      <br />
      <input type="text" placeholder="enter user age" name="age" />
      <br />
      <br />
      <button>click</button>
    </form>
  </body>
</html>
