<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/submit-email" method="post">
      <input
        type="text"
        name="subject"
        placeholder="enter subject"
      /><br /><br />
      <textarea name="mail" type="text" placeholder="enter mail"> </textarea>
      <br /><br />
      <button>send mail</button>
    </form>
  </body>
</html>
