<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/ui/update/<%=result._id%>">
        <input type="text" name="name" value="<%=result.name%>" placeholder="enter your name"/></br></br>
        <input type="number" name="age" value="<%=result.age%>" placeholder="enter your age"/></br></br>
        <input type="text" name="email"value="<%=result.email%>" placeholder="enter your email"/></br></br>
        <button>Update student</button>
        
      </form>
</body>
</html>